services:
  backend:
    build: ./backend
    container_name: html_judge_backend
    restart: always
    environment:
      - OPENAI_API_KEY=${OPENAI_API_KEY}
    networks:
      - app_network

  frontend:
    build: ./frontend
    container_name: html_judge_frontend
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./frontend/nginx.conf:/etc/nginx/conf.d/default.conf
      # Share Certbot challenge directory with Host
      - /var/www/certbot:/var/www/certbot
      # Read Certs from Host
      - /etc/letsencrypt:/etc/letsencrypt
    depends_on:
      - backend
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
